.page{
    font-size: 30px;
    text-align: center;
    background-color: yellow;
    width: 100%;   
}

.accordion {
    display: inline;; 
}

.accordion-container {
    justify-content: center;
    align-items: center;
}

.click-checkbox{
    display: none;
}

.click{
    background-color: white;
    color: red;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.click-checkbox:checked+.click{
    color: green;
}


